<div class="dev-tag">dev:sidebar-chat</div>
<div class="sidebar-section">
    <div class="sidebar-title">Overview</div>
    <div class="sidebar-body">
        This app was created out of the need for high quality medical guidance when there are no other options. Our family of six is circumnavigating on a sailboat. We are often in remote and inaccessible locations where there simply are no doctors to assist with a medical emergency.<br><br>
        For example, we were anchored in a remote part of the Solomon Islands when our oldest son got a large three-prong off-shore fish hook stuck in his left cheek very close to his eye. It had large barbs and was impossible to pull out. Another time, our youngest son was biten by a dog suspected by the locals of having rabies. We needed to quickly cobble together a precautionary treatment from our medical chest. Another time, our son experienced a Shallow Water Blackout at a depth of 10m. He floated to the surface unconscious and was awakened by his younger siblings who were with him.<br><br>
        In all cases, we needed timely access to medical assistance to address the situation. We struggled to find it, and hence, this app was born.</div>
</div>
<div class="sidebar-section">
    <div class="sidebar-title">Chat & Logging</div>
    <div class="sidebar-body">
        Triage Chat is intended to provide immediate, actionable advice for the situation described. If a Crew Member is selected then their medical history in injected into the prompt to better tailor the response. The current Medical Chest inventory is also inject so MedGemma knows what we have to work with.<br><br>
        Toggling Triage Chat switches to Inquiry Chat. This is a research and information chat where answers are not constrained to ship's stores or offshore medical situations.<br><br>
        Logging toggles on/off and whether traige and inquiry chats are saved as part of the Crew Member's health log.
</div>
</div>
<div class="sidebar-section">
    <div class="sidebar-title">Prompt Injection</div>
    <div class="sidebar-body">
        When Advanced Mode or Developer Mode is specified in Settings, the text that will be injected to the current chat will be editable. This provides greater control over MedGemma's behavious and can help more precisely tailor the prompt to the immediate situation.
    </div>
</div>
