<div class="dev-tag">dev:sidebar-equipment</div>
<div class="sidebar-section">
    <div class="sidebar-title">Medical Chest</div>
    <div class="sidebar-body">
        The Medical Chest is our collection of pharmacueticals, medical equipment and medical 
        consumables.<br><br>
        The purpose of the inventory functionality is to inform MedGemma as to the resources 
        available when planning treatments. No point in having it advise treatment with snakebit
        serum when we have none onboard.<br><br>
        Any medical treatment administered is necesarily constrained by the resources onboard.<br><br>
        There are odd items listed, for example vise grips and needle nose pliers, but they
        have been needed in the past to remove fish hooks.<br>
    </div>
</div>
